@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';




:root {
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;
  color: #fff;
  background-color: #121921;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border-color: gray!important; */

}

body {
  width: 100vw;
  overflow-x: hidden
}

input {
  color: white !important;
}

section {
  width: calc(100% - 320px);
  height: 90vh;
}
@media screen and (max-width: 920px) {
  section{
    width: 100%
  }
}


.MuiDataGrid-container--top [role=row],
.css-10y1nqf-MuiDataGrid-root .MuiDataGrid-container--bottom [role=row] {
  background: #151d28 !important;
}

.MuiTablePagination-root{
  color: #fff!important;
}

.MuiDataGrid-columnHeader:focus-within .MuiDataGrid-columnSeparator {
  display: none!important;
}
.MuiDataGrid-columnSeparator {
  display: none!important;
}
.MuiDataGrid-sortIcon, .MuiDataGrid-filterIcon{
  display: none!important;
}

.MuiDataGrid-columnHeader:focus, .MuiDataGrid-cell:focus{
  outline: none!important;
}
.MuiDataGrid-overlay{
  background: inherit!important;
}

.MuiDataGrid-row{
  --rowBorderColor: rgba(128, 128, 128,.5)!important;
}

@media screen and (max-width: 920px) {
  .MuiDataGrid-columnHeader, .MuiDataGrid-cell{
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
}
.group-header {
  background-color: #152435;
}